*.apk
*.ipa
*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj

/*.csproj
/*.sln

/Library/*
/Temp
/AssetBundles
/Build
/.vs
/obj
/UnityPackageManager
/ProjectSettings
/app-store.plist
/ad-hoc.plist
